.tablesLeftColumn{
  width: 50%;
}
#column_lineChart rect{
    fill: transparent !important;
    stroke: none !important;
}
.tablesRightColumn{
  text-align: right;;
}
.th_head {
    background: #87c1f4;
    font-size: 15px;
    font-weight: 600;
}
.village_th_head{
  background: #ffea84;
  font-size: 15px;
  font-weight: 600;
}
.th_head_temp {
    background: #629bce03;
    font-size: 13px;
    white-space: nowrap;
    font-weight: 600;
}
.graph_bg rect{
  fill: transparent !important;
  stroke: none;
}
div#gw_bar_chart rect[fill^="url(#dojoxUnique"] {
    fill: none;
    stroke: none;
}
div#gw_bar_chart rect[stroke="rgb(181, 188, 199)"] {
    stroke: none;
}
.akahReportTable{
  border: 1px solid #C0C0C0;
	border-collapse: collapse;
	padding:5px;
	width:100%;
}

.akahReportTable1, .akahReportTable2{
  border: 1px solid #C0C0C0;
	border-collapse: collapse;
	padding:5px;
	width:100%;
}

.akahReportTable tr td{
	border: 1px solid #C0C0C0;
	padding: 6px;
  font-size: 12px;
}
.akahReportTable2 tr td{
	border: 1px solid #C0C0C0;
	padding: 6px;
  font-size: 14px;
  text-align: center;
}
.akahReportTable1 tr td{
	border: 1px solid #C0C0C0;
	padding: 6px;
  /* width:50%; */
}
.ReportTable_subHdngs{
	font-weight:bold;
}
.mapHdngSizes{
    margin: 0px;
    font-size: large;
    padding-left: 100px;
    line-height: 0px;
}
.ReportTable_subHdngs1{
	font-weight:bold;
  text-align: center;
}
#rainfall_chart rect {
    fill: none;
    stroke: none;
}
.akahReportTableheadings{
    color: darkblue;
    font-weight: bold;
    line-height: 2.2em;
    font-size: 30px;
}
.akahReportTableSide_headings{
	/*color: darkblue;*/
}
.esriCTReportMapImg{
  margin-top: -35px;
  max-width: 95%;
}
