/*The below styles of classes and id's are effecting the TabContent in AKAH application */
/*styles of lake Classification -> DI Tab content in LakeInfoSummary widget*/
#akah_villageWellCount, #akahDugwell_Count, #akahBorewell_Count{
	text-align: center;
    color: #50a184;
    font-size: xxx-large;
    font-family: auto !important;
    margin-bottom: 10px;
    font-weight: 600;
}
.wellInfo_hr{
    height: 1.1px;
    border: none;
    background-color: #cfcfcb;
    margin: 0px;
}
.diInfoHdngs{
	text-align: center !important;
	font-size: medium;
	font-weight: 700;
}
#akahVillageLevel_WellInfo{
	display:none;
	font-size: larger;
	line-height: 3em;
	margin-top: 5px;
}
#akahwellInventory_Report{
	margin-top: 5px;
    margin-left: 9%;
    width: 190px;
    background-color: #313c3d;
}